`ifndef ENVIRONMENT_SV
`define ENVIRONMENT_SV

`include "uvm_macros.svh"
import uvm_pkg::*;

`include "uart_agent.sv"
`include "uart_scoreboard.sv"
`include "uart_coverage.sv"


class uart_env extends uvm_env;
    `uvm_component_utils(uart_env)

    uart_agent agt;
    uart_scoreboard scb;
    uart_coverage cov;

    function new(string name, uvm_component parent);
        super.new(name, parent);
    endfunction //new()


    virtual function void build_phase(uvm_phase phase);
        super.build_phase(phase);
        `uvm_info(get_type_name(), "Building Agent, Scoreboard, Coverage...",UVM_LOW)
        
        agt = uart_agent::type_id::create("agt", this);
        scb = uart_scoreboard::type_id::create("scb", this);
        cov = uart_coverage::type_id::create("cov", this);

    endfunction

    virtual function void connect_phase(uvm_phase phase);
        super.connect_phase(phase);
        `uvm_info(get_type_name(), "Connecting ports...", UVM_LOW)
    
        agt.agt_ap_rx.connect(scb.rx_imp);
        agt.agt_ap_tx.connect(scb.tx_imp);
    
        agt.agt_ap_rx.connect(cov.analysis_export);
    endfunction

    


endclass //











`endif 